body {
    background-color: white;
    background-image: url("lawn.jpg");
    
    background-repeat: no-repeat;
    background-size: 2000px 912px;
}
h1 {
    color: white;
}
p{
    color: white;
}
section {
    background-image: url("artwork.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 450px;
}


