@model Mowerman.Models.TimeClock
@{
    ViewData["Title"] = "TimeClock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>TimeClock</h1>
<h4>Job Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="TimeClock" name="TimeClock">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Team" class="control-label"></label>
                <input asp-for="Team" class="form-control" />
                <span asp-validation-for="Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobAddress" class="control-label"></label>
                <input asp-for="JobAddress" class="form-control" />
                <span asp-validation-for="JobAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClockIn" class="control-label"></label>
                <input asp-for="ClockIn" class="form-control" id="ClockIn" />
                <span asp-validation-for="ClockIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClockOut" class="control-label"></label>
                <input asp-for="ClockOut" class="form-control"  />
                <span asp-validation-for="ClockOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" onchange="calculate();" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" name="Duration" id="Duration" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <script type="text/javascript">
            function calculate() {
                let date = (document.getElementById("Date").value)
                let dt1 = new Date(date + "," + document.getElementById("ClockIn").value);
                let dt2 = new Date(date + "," + document.getElementById("ClockOut").value);
                console.log(dt1);
                console.log(dt2);
                var diff = (dt2.getTime() - dt1.getTime()) / 1000;
                diff /= 60;
                let output = Math.abs(Math.round(diff));
                document.getElementById("Duration").value = output;
            }

           

        </script>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
